<script>
    import { userLoggedIn } from '../stores/user.js';

    let username = '';
    let email = '';
    let loginString = '';
    let password = '';

    function loginUser() {
        // maybe it makes sense just to pass the loginString to the server and
        // and let the API handle the logic
        // check if email or username
        if (loginString.includes('@')) {
            email = loginString;
        } else {
            username = loginString;
        }
        userLoggedIn.set(true);
    }
</script>

<style>
* {
    text-align: center;
}
input {
    display: block;
    padding: .5em;
    margin: 1em auto;
    width: 50%;
}
button {
    margin: 0 1em;
}
</style>

<svelte:head>
    <title>Login</title>
</svelte:head>

<h2>Login</h2>

<form on:submit|preventDefault={loginUser}>
    <input type="text" bind:value={loginString} placeholder="Username or email">
    <input type="password" bind:value={password} placeholder="Password">
    <button>Login</button>
</form>