<script>
    import { userLoggedIn } from '../stores/user.js';

    let username = '';
    let email = '';
    let password = '';

    function registerUser() {
        userLoggedIn.set(true);
    }
</script>

<style>
* {
    text-align: center;
}
input {
    display: block;
    padding: .5em;
    margin: 1em auto;
    width: 50%;
}
button {
    margin: 0 1em;
}
</style>

<svelte:head>
    <title>Register</title>
</svelte:head>

<h2>Register</h2>

<form on:submit|preventDefault={registerUser}>
    <input type="text" bind:value={username} placeholder="Username">
    <input type="email" bind:value={email} placeholder="Email">
    <input type="password" bind:value={password} placeholder="Password">
    <button>Register</button>
</form>