<script>
	import { userLoggedIn } from '../stores/user.js';

	export let segment;
</script>

<style>
	nav {
		border-bottom: 1px solid rgba(255,62,0,0.1);
		font-weight: 300;
		padding: 0 1em;
		display: flex;
		flex-direction: row;
	}

	.spacer {
		flex-grow: 1;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
	}

	.selected {
		position: relative;
		display: inline-block;
	}

	.selected::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(255,62,0);
		display: block;
		bottom: -1px;
	}

	a {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
	}
</style>

<nav>
	<ul>
		<li><a href=".">Collections</a></li>
	</ul>
	<div class="spacer"></div>
	<ul>
		{#if !$userLoggedIn}
			<li><a class='{segment === "register" ? "selected" : ""}' href='register'>register</a></li>
			<li><a class='{segment === "login" ? "selected" : ""}' href='login'>login</a></li>
		{:else}
			<li><a class='{segment === "profile" ? "selected" : ""}' href='profile'>profile</a></li>
		{/if}
	</ul>
</nav>